h1 {
  color: rgb(1, 48, 136);
  font-family: 'Major Mono Display', monospace;
  font-size: 50px;

}

a{
  display: inline-block;
  margin: 20px;


}


img{
    max-width: 100px;

}

body{
  background-color: rgb(155, 155, 155);
}
  
