*{margin: 0; padding: 0;}

body{
  margin:0;
}


h2{
  font-size: 30px;
  color:lightblue;
  margin: 50px;
  
  
  
  
}

h3{
   Background: gray;
  color:white;
  display: inline;
  margin: 500px;
  font-size: 150%;
  
  
  
  
  
  
  
}
img{
  height: 30vw;
  width: 50vh; 
  
}
.p{
  background: pink;
  margin: 100px;
  padding: 10%;
  border: 5px solid gray;
 
 
  
 }

p{
  font-size: 40px;  
}

.s{
  background: orange;
  margin: 100px;
  border: 5px solid gray;
  padding: 10%;

}

.nav-container{
  display: flex;
  flex-direction: row;
  width: 100%;
  margin:0;
  padding:0;
  background-color: white;
  list-style-type: none;
  position:fixed;
  top:0;
  opacity: 0.8;
  

 

}

.nav-item{
  padding: 15px;
  cursor: pointer;
}

.nav-item a{
  text-align: center;
  text-decoration: none;
  color: rgb(46, 45, 45);
  display: center;
  font-size: 100%;

}

.nav-item:nth-child(1){
  background-color: rgb(211, 211, 211);
}

.nav-item:hover{
  
  background-color: rgb(211, 211, 211);
  
}

.h-item:hover{
  background-color: black;
}


header{
  margin-top: 80px;
  font-size: 200%;
  color: white;
  background: blue;
 
  display: inline;
  color: white;
  border: 10px dashed #ffffff;
  margin:  250px;
  }
  
  

